name: Build Specification
on:
  push:
    branches: ["main"]
    paths:
      - "docs/isa-spec/**.tex"
      - "docs/isa-spec/Makefile"
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Compile LaTeX document
        uses: dante-ev/latex-action@latest
        with:
          root_file: risc4-isa-spec.tex
          working_directory: docs/isa-spec
          compiler: pdflatex
          args: -interaction=nonstopmode -halt-on-error
      
      - name: Create release directory
        run: |
          cd docs/isa-spec
          make release
      
      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: RISC-4-Spec
          path: docs/isa-spec/releases/*.pdf
          if-no-files-found: error
