name: Build Specification

on:
  push:
    branches: ["main"]
    paths:
      - "**.tex"
      - "Makefile"
  pull_request:
    branches: ["main"]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # This action sets up a container with TeX Live and runs 'make'
      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          # This tells the action to run your Makefile's 'release' target
          args: release

      # Upload the PDF as an artifact you can download from the Actions tab
      - name: Upload Spec Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RISC-4-Spec
          path: releases/*.pdf
          if-no-files-found: error
